In [ ]:
! pip install pandas matplotlib

In [2]:
import pandas as pd

In [4]:
df = pd.read_json('/home/adauto_junior/cursos/alura/airflow-transformacao-dados-spark/datalake/Gold/twitter_datascience/process_date=2023-01-06/part-00000-3a6e9b13-69eb-4930-96d0-bf351d68ff14-c000.json', lines=True)

In [6]:
df.head()

  created_date  n_tweet  n_like  n_quote  n_reply  n_retweet weekday
0   2023-01-01       41       6        1        0       6305     Sun
1   2023-01-02       66     115       12        1       9888     Mon
2   2023-01-03       71     147        6        3       7220     Tue
3   2023-01-04       56     447        1        9       5545     Wed
4   2023-01-05       59     191        3        4       2934     Thu

In [7]:
df.created_date = pd.to_datetime(df.created_date)

In [9]:
df.groupby("weekday").sum().loc[:].reset_index().plot(kind="bar", x="weekday", y=["n_tweet", "n_like", "n_quote", "n_reply"])

/tmp/ipykernel_6047/3340873437.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("weekday").sum().loc[:].reset_index().plot(kind="bar", x="weekday", y=["n_tweets", "n_like", "n_quote", "n_reply"])

KeyError: "['n_tweets'] not in index"